<div class="container">
  <footer id="footer wrap" class="navbar navbar-fixed-bottom navbar-inverse">
    <h2>
      <%= link_to "Home",   root_path %>
      <%= link_to "Portfolio",   portfolio_path %>
      <%= link_to "FAQs",   faqs_path %>
      <%= link_to "About Me", about_me_path %>
      <%= link_to "Contact", contact_path %>
      <!-- <%= link_to image_tag("vigil_logo1.png", id: "logo", alt: "Vigil Logo"), root_path %> -->
    </h2>
    <a href="/" class="logo" title="Vigil Logo"></a>
  </footer>
</div>
